.wrapper {
   display: grid;
   grid-template:
      ". header header ." auto
      ". sidebar content ." 1fr
      "footer footer footer footer" auto
      / auto 230px minmax(320px, 1200px) auto;
   gap: 0px 30px;
   min-height: 100vh;
   .header {
      grid-area: header;
      display: none;
   }
   .sidebar {
      grid-area: sidebar;
      width: 300px;
   }
   .content {
      grid-area: content;
   }
   .footer {
      grid-area: footer;
   }
}

@media (max-width: 765px) {
   .wrapper {
      grid-template:
      "header" auto
      "content" 1fr
      "footer" auto
      / minmax(320px, 1fr);
      .header {
         display: block;
      }
      .sidebar {
         display: none;
      }
   }
}
