.page {
   display: grid; 
   grid-template-columns: 0.7fr 1.3fr 1fr; 
   grid-template-rows: 50px auto 50px; 
   grid-template-areas: 
      "header header header"
      "sidebar content content"
      "footer footer footer"; 
   .header {
      grid-area: header;
   }
   .sidebar {
      grid-area: sidebar;
      width: 300px;
   }
   .content {
      grid-area: content;
      // min-height: 100%;
   }
   .footer {
      grid-area: footer;
   }
}
